@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@*@ViewBag.Message*@</h3>

<address>
    Clanstech<br />
    G-282 , Sector-63, Noida<br />
    Uttar Pradesh 201301<br />
    <abbr title="Phone"></abbr>
    +91-7042.615.658<br/>
    +91-120-414.7704
</address>
